.buttonsContainer {
  display: flex;
  justify-content: flex-end;
}

.buttonsContainer button {
  border-radius: 50%;
  width: calc(var(--space-12x) + (var(--space-1x) / 2));
  height: calc(var(--space-12x) + (var(--space-1x) / 2));
  filter: invert(1);
  border: none;
  cursor: pointer;
}

.addButton {
  margin-right: var(--space-3x);
}
