.homeContainer {
  padding: var(--space-3x) calc(var(--space-12x) + var(--space-2x))
    var(--space-24x);
  background-color: var(--main-background);
}

.logo {
  font-size: calc(var(--fs-jumbo) + var(--fs-xx-small));
  font-family: "Didot";
  color: black;
}

.zoomButtons {
  margin-bottom: var(--space-3x);
  display: flex;
  justify-content: flex-end;
}

.zoomButtons button {
  margin-left: 2px;
  padding: var(--space-3x) var(--space-5x);
  background-color: var(--secondary-button-selected);
  cursor: pointer;
  border: none;
  font-size: var(--fs-medium);
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: calc(var(--space-32x) + var(--space-3x));
}

.zoomButtons button img {
  filter: invert(1);
}

.zoomButtons button:first-child {
  border-radius: var(--space-6x) 0 0 var(--space-6x);
}

.zoomButtons button:last-child {
  border-radius: 0 var(--space-6x) var(--space-6x) 0;
}

.zoomContainer {
  transition: transform 0.2s ease-in-out;
  transform-origin: top left;
}
