.homeContainer {
  margin: 10px 50px 100px;
}

.logo {
  font-size: 4em;
  font-family: "Didot";
}

.zoomButtons {
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-end;
}

.zoomButtons button {
  margin-left: 10px;
  padding: 2px 4px;
}

.zoomContainer {
  transition: transform 0.2s ease-in-out;
  transform-origin: top left;
}
