.dropZone {
  display: flex;
  align-items: start;
  min-width: calc(var(--space-4x) * 15);
  width: 100%;
  min-height: var(--space-16x);
  margin-top: var(--space-3x);
}

.wrapperStyle {
  display: "flex";
  flex-direction: "column";
  user-select: "none";
}

.scrollContainer {
  overflow: auto;
  width: 100%;
}

.container {
  flex-grow: 1;
  display: inline-flex;
  width: 100%;
}

.alignButtonsContainer {
  display: flex;
  justify-content: center;
}

.alignButtonsContainer button {
  padding: var(--space-3x) var(--space-5x);
  margin: 0 2px;
  cursor: pointer;
  background-color: var(--secondary-button-background);
  border-radius: var(--space-4x);
  border: none;
  font-size: var(--fs-medium);
}

.buttonSelected {
  background-color: var(--secondary-button-selected) !important;
}
